article header{
    /*funziona solo con un top*/
    position: sticky;
    top:10px;
    color:white;
    background-color: black;
}

a{
    position: fixed;
    bottom:25px;
    right:25px;
    background-color: violet;
    border: 1px solid violet;
    border-radius: 5000000px;
}

a:hover{
    transform: scale(2);
}